## DATAFRAMES OPERACIONES DE AGREGACIÓN
DIAPOS : https://docs.google.com/presentation/d/1ft4VK1JiVlJ01ZU5Bq3RWCtEKo5s-bqa/edit?usp=share_link&ouid=108221443273434880064&rtpof=true&sd=true

archivo sales.csv  
https://drive.google.com/file/d/1657UtMds4WZgpipUXlSK3OnJ0L2_tdap/view?usp=share_link

In [0]:
# subir archivo sales.csv , menú Archivo-> Upload datos...
# copiar link del formato de la API de Spark
# en este caso -> dbfs:/FileStore/shared_uploads/ciberniainfo@gmail.com/sales.csv
file = 'dbfs:/FileStore/shared_uploads/ciberniainfo@gmail.com/sales.csv'
sales_df = (spark.read
            .format("csv")
            .option("header", "true")
            .option("inferSchema", True)
            .load(file))

sales_df.printSchema()
sales_df.show(5)

root
 |-- Order_ID: integer (nullable = true)
 |-- Order_Date: date (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Units_Sold: integer (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Ship_Date: date (nullable = true)

+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
| Order_ID|Order_Date|    Item_Type|Units_Sold|Unit_Price|              Region|             Country| Ship_Date|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
|535113847|2014-10-08|       Snacks|       934|    152.58|Middle East and N...|          Azerbaijan|2014-10-23|
|874708545|2015-02-22|    Cosmetics|      4551|     437.2|Central America a...|              Panama|2015-02-27|
|854349935|2015-12-09|       Fruits|      9986|      9.33|  Sub-Saharan Africa|Sao Tome and Prin...|2016-01-18|
|892836844|2014-09-17|Personal Care|      9118|     81.73|  Sub-Saharan Africa|Sao Tome and Prin...|2014-10-12|
|129280602|2010-02-04|    Household|      5858|    668.27|Central America a...|              Belize|2010-03-05|
+---------+----------+-------------+----------+----------+--------------------+--------------------+----------+
only showing top 5 rows

In [0]:
# OJO count'*'contabilizaría también los nulos si los hubiera
from pyspark.sql.functions import count, countDistinct

sales_df.groupBy('Region','Country').agg(count('Item_Type').alias('NumVentas')).orderBy('Region','Country').show(10)

+------+----------+---------+
|Region|   Country|NumVentas|
+------+----------+---------+
|  Asia|Bangladesh|      545|
|  Asia|    Bhutan|      534|
|  Asia|    Brunei|      558|
|  Asia|  Cambodia|      584|
|  Asia|     China|      554|
|  Asia|     India|      540|
|  Asia| Indonesia|      561|
|  Asia|     Japan|      560|
|  Asia|Kazakhstan|      533|
|  Asia|Kyrgyzstan|      525|
+------+----------+---------+
only showing top 10 rows

In [0]:
# ¿Cuantos tipos de productos hay?
sales_df.select('Item_Type').distinct().show()

sales_df.groupBy('Region','Country').agg(countDistinct('Item_Type').alias('TiposArtículo')).orderBy('Region','Country').show(10)

+---------------+
|      Item_Type|
+---------------+
|      Baby Food|
|         Cereal|
|           Meat|
|      Household|
|     Vegetables|
|      Beverages|
|Office Supplies|
|      Cosmetics|
|  Personal Care|
|         Fruits|
|         Snacks|
|        Clothes|
+---------------+

+------+----------+-------------+
|Region|   Country|TiposArtículo|
+------+----------+-------------+
|  Asia|Bangladesh|           12|
|  Asia|    Bhutan|           12|
|  Asia|    Brunei|           12|
|  Asia|  Cambodia|           12|
|  Asia|     China|           12|
|  Asia|     India|           12|
|  Asia| Indonesia|           12|
|  Asia|     Japan|           12|
|  Asia|Kazakhstan|           12|
|  Asia|Kyrgyzstan|           12|
+------+----------+-------------+
only showing top 10 rows